#matches {
    width: 50%;
    margin: auto;
}

.match {
    border: 1px solid rgb(15, 0, 71);
    text-align: center;
    background: rgba(179, 203, 246, 0.534);
}

table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}

th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #014055;
}

body {
    background-image: url('../images/backG.jpeg');
}

img {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* padding: 5px; */
    width: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/backa.jpg);
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/backa.jpg);
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.live_match {
    border: 1px solid rgb(15, 0, 71);
    text-align: center;
    /* margin-left: 100px; */
    left:100px;
    background: rgba(179, 203, 246, 0.534);
    /* padding-left: 200px; */
}

#right {
    padding-right: 300px;
}

#wrapper {
    display:table;
    /* width:100%; */
  }
  #row {
    display:table-row;
  }
  #batting {
    display:table-cell;
    /* background-color:red; */
    width:33%;
  }
  #bowling {
    display:table-cell;
    /* background-color:blue; */
    width:33%;
  }