{% extends 'base.html' %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" /> {% endblock %} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<h1>Hello {{ current_user.username }}!</h1>
<h2 align="center">Matches</h2>
<div id="matches">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div align="right">
    <table>
        <h2>Leaderboard</h2>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {% for player in leaderboard %}
        <tr>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %} 

{% block scripts %}
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- socketio -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<!-- Slick Carousal -->
<script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
<!-- Custom js script-->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}