{% extends 'base.html' %}

{% block styles %}
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <!-- <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div>
                                    {% for error in form.username.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <!-- <input type="text" class="form-control" placeholder="username"> -->
                                {{ form.username(size=32, **{'type':'text', 'class':'form-control', 'placeholder':'Username'}) }}
                            </div> 
                            <div>
                                    {% for error in form.password.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <!-- <input type="password" class="form-control" placeholder="password"> -->
                                {{ form.password(size=32, **{'type':'password', 'class':'form-control', 'placeholder':'Password'}) }}
                            </div>
                            <div class="row align-items-center remember">
                                <!-- <input type="checkbox">Remember Me -->
                                {{ form.remember_me() }}Remember Me
                            </div>
                            <div class="form-group">
                                <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
                                {{ form.submit(**{'class':'btn float-right login_btn'}) }}
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="{{ url_for('register') }}">Sign Up</a>
                        </div>
                        <!-- <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}